{
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 80,
    "semi": false,
    "singleQuote": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "importOrder": [
        "^(react|next)(/.*)?$",
        "<THIRD_PARTY_MODULES>",
        "^@/layouts/(.*)$",
        "^@/components/(.*)$",
        "^@/store/(.*)$",
        "^@/types/(.*)$",
        "^@/(.*)$",
        "^#/services/(.*)$",
        "^#/data/(.*)$",
        "^#/integration/(.*)$",
        "^#/types/(.*)$",
        "^#/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
