@import 'tailwindcss';
@import 'tailwindcss-safe-area';

@import 'swiper/css';

:root {
    color-scheme: light dark;

    --background: light-dark(var(--color-zinc-100), var(--color-zinc-900));
    --background-card: light-dark(var(--color-white), var(--color-zinc-800));

    --foreground: light-dark(var(--color-zinc-950), var(--color-zinc-50));
    --foreground-danger: light-dark(var(--color-red-500), var(--color-red-400));
}

@theme {
    /* Background colors */
    --color-card: light-dark(var(--color-white), var(--color-zinc-800));
    --color-card-elevated: light-dark(
        color-mix(in oklab, var(--color-zinc-100) 87.5%, transparent),
        color-mix(in oklab, var(--color-zinc-700) 75%, transparent)
    );

    /* Forground colors */
    --color-primary: var(--foreground);
    --color-secondary: color-mix(in oklab, var(--foreground) 55%, transparent);
    --color-tertiary: color-mix(in oklab, var(--foreground) 12.5%, transparent);
    --color-inactive: color-mix(in oklab, var(--foreground) 40%, transparent);
    --color-danger: var(--foreground-danger);

    /* Radius */
    --radius-primary: var(--radius-2xl);
    --radius-secondary: var(--radius-lg);
}

body {
    background: var(--background);
    color: var(--foreground);
    height: 100vh;
}

.has-backdrop {
    /* Position {before:inset-y-[val]} */
    @apply before:absolute before:inset-0 before:-z-10;
    /* Blur effect */
    @apply before:backdrop-blur-md before:backdrop-saturate-200;
    /* Tint effect {before:bg-gradient-to-[dir]} */
    @apply before:from-zinc-100/80 before:to-transparent before:dark:from-zinc-900/80;
    /* Gradient fade {before:mask-linear-[deg]} */
    @apply before:mask-linear-from-[calc(100%_-_16px)];
}
